/ {
    /* ======================
     * 1) Define macros here
     * ======================
     * Each macro is labeled and holds a sequence of key presses. 
     * You can adapt them to replicate your QMK strings (like ESC + ":w" + ENTER). 
     */
    macros {
        m_save_w: macro_save_w {
            label = "SAVE_W";
            #binding-cells = <0>;
            /*
             * This replicates:
             *   ESC -> ":w" -> ENTER
             */
            bindings = <
                &kp ESC
                &str ":w"
                &kp ENTER
            >;
        };

        m_wq: macro_wq {
            label = "WQ";
            #binding-cells = <0>;
            /*
             *   ESC -> ":wq" -> ENTER
             */
            bindings = <
                &kp ESC
                &str ":wq"
                &kp ENTER
            >;
        };

        m_pass: macro_pass {
            label = "PASS";
            #binding-cells = <0>;
            /*
             *   "" -> ENTER
             */
            bindings = <
                &str ""
                &kp ENTER
            >;
        };

        m_gapass: macro_gapass {
            label = "GAPASS";
            #binding-cells = <0>;
            /*
             *   "" -> ENTER
             */
            bindings = <
                &str ""
                &kp ENTER
            >;
        };

        m_git: macro_git {
            label = "GIT_TOKEN";
            #binding-cells = <0>;
            /*
             *   "" -> ENTER
             */
            bindings = <
                &str ""
                &kp ENTER
            >;
        };

        m_gmail: macro_gmail {
            label = "GMAIL";
            #binding-cells = <0>;
            /*
             *   "andrejgrankov@gmail.com"
             */
            bindings = <
                &str "andrejgrankov@gmail.com"
            >;
        };

        m_granmail: macro_granmail {
            label = "GRANMAIL";
            #binding-cells = <0>;
            /*
             *   "gran-san2003@yandex.ru"
             */
            bindings = <
                &str "gran-san2003@yandex.ru"
            >;
        };

        /* 
         * Macro that performs Alt+Space to switch language, 
         * then toggles or jumps to a layer, etc.
         */
        switch_lang_ru: macro_lang_ru {
            label = "LANG_RU";
            #binding-cells = <0>;
            /*
             *   1) Move to Russian layer (layer 2).
             *   2) Press ALT+SPACE to change system language.
             */
            bindings = <
                &tog 2             /* or &mo 2, or &layer_switch if you prefer */
                &kp LALT
                &kp SPACE
            >;
        };

        switch_lang_en: macro_lang_en {
            label = "LANG_EN";
            #binding-cells = <0>;
            /*
             *   1) Move to base layer (layer 0).
             *   2) Press ALT+SPACE to change system language.
             */
            bindings = <
                &tog 0
                &kp LALT
                &kp SPACE
            >;
        };

        m_ru_hash: macro_ru_hash {
            label = "RU_HASH";
            #binding-cells = <0>;
            /*
             *   Press alt+space to switch to RU,
             *   Type "#",
             *   Press alt+space to switch back to EN.
             */
            bindings = <
                &kp LALT
                &kp SPACE
                &kp NUMBER_SIGN  /* "#" */
                &kp LALT
                &kp SPACE
            >;
        };
    };

    /* ======================
     * 2) Define COMBOS here
     * ======================
     * Each combo references key-positions for the pressed keys.
     * "key-positions" must match the physical matrix indexes for your board.
     */
    combos {
        combo_lbrc {
            timeout-ms = <50>;
            key-positions = < /* W pos */ /* F pos */ >;  // e.g. <4 5>
            bindings = <&kp LBKT>;
        };

        combo_wq {
            timeout-ms = <50>;
            key-positions = < /* ALT_I pos */ /* GUI_O pos */ >;
            bindings = <&macro_wq>;  // calls m_wq
        };

        combo_save_w {
            timeout-ms = <50>;
            key-positions = < /* Y pos */ /* SEMI pos */ >;
            bindings = <&macro_save_w>; // calls m_save_w
        };

        /*
         * Continue defining the rest of your combos (29 combos total)
         * ...
         */
    };

    keymap {
        compatible = "zmk,keymap";

        /* 
         * =====================
         * LAYER 0: COLEMAK-ish
         * =====================
         * Replicates your QMK [0] = LAYOUT_split_3x6_3 (Colemak)
         */
        colemak_layer {
            label = "COLEMAK";
            bindings = <
                &kp TAB    &kp Q        &kp W         &kp F         &kp P        &kp G       &kp J    &kp L         &kp U     &kp Y     &kp SEMI   &kp ASTR
                &kp BSPC   &mt LGUI A   &mt LALT R    &mt LCTRL S   &mt LSHFT T  &kp D       &kp H    &mt RSHFT N   &mt RCTRL E &mt LALT I &mt RGUI O &kp EQUAL
                &kp CAPS   &kp Z       &kp X         &kp C         &kp V        &kp B       &kp K    &kp M         &kp COMMA &kp DOT   &kp FSLH   &kp ESC
                /* thumb keys */
                &kp F11    &mo 4       &kp SPACE     &kp ENTER     &mo 5        &macro_lang_ru
            >;
        };

        /* 
         * =====================
         * LAYER 1: QWERTY
         * =====================
         */
        qwerty_layer {
            label = "QWERTY";
            bindings = <
                &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T      &kp Y    &kp U    &kp I    &kp O    &kp P       &kp ESC
                &kp BSPC  &kp A    &kp S    &kp D    &kp F    &kp G      &kp H    &kp J    &kp K    &kp L    &kp SEMI    &kp SQT
                &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B      &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH    &tog 0  /* might differ from QMK's DF(0) logic */
                /* thumb keys */
                &trans    &mo 4    &kp SPACE &kp ENTER &mo 5   &kp F13
            >;
        };

        /* 
         * =====================
         * LAYER 2: RUSSIAN
         * =====================
         * You mentioned switching to layer [2] = Russian + "switch_language()"
         */
        russian_layer {
            label = "RUSSIAN";
            bindings = <
                &kp O     &kp W    &kp R     &kp K     &kp COMMA &kp Q     &kp RBKT   &kp S    &kp Z    &kp SQT  &kp A     &kp TAB
                &kp BSPC  &mt LGUI X &mt LALT P &mt LCTRL D &mt LSHFT Y &kp N  &kp L     &mt RSHFT B &mt RCTRL F &mt LALT J &mt RGUI T &kp C
                &kp SEMI  &kp LBKT &kp G     &kp H     &kp V    &kp U     &kp GRAVE  &kp M    &kp E    &kp DOT  &kp I     &kp FSLH
                /* thumb keys */
                &none     &mo 4    &kp SPACE &kp ENTER &mo 5    &macro_lang_en
            >;
        };

        /* 
         * =====================
         * LAYER 3: GAMING
         * =====================
         */
        gaming_layer {
            label = "GAMING";
            bindings = <
                &kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5    &none
                &kp LCTRL &kp A   &kp S   &kp D   &kp F   &kp G    &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &none
                &kp LSHFT &kp Z   &kp X   &kp C   &kp V   &kp B    &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH  &kp ESC
                /* thumb keys */
                &kp LCTRL &kp LSHFT &kp SPACE &kp E &kp ENTER &tog 0
            >;
        };

        /* 
         * =====================
         * LAYER 4: NUMS/ARROWS
         * =====================
         */
        layer_4 {
            label = "NUM_ARROWS";
            bindings = <
                &macro_git  &kp N0    &kp N1  &kp N2   &kp N3   &kp MINUS   &kp DQT  &kp SQT   &kp AMPS  &kp CARET &macro_gmail    &macro_granmail
                &kp TILDE   &kp BSLH  &kp N4  &kp N5   &kp N6   &kp PLUS    &kp LEFT &kp DOWN &kp UP    &kp RIGHT &trans          &kp CAPS
                &kp PSCR    &kp GRAVE &kp N7  &kp N8   &kp N9   &kp MINUS   &kp LT   &kp GT   &macro_ru_hash &trans   &none         &kp ESC
                /* thumb keys */
                &kp COPY &trans &kp PASTE &kp F6  &mo 6  &kp PIPE
            >;
        };

        /* 
         * =====================
         * LAYER 5: SPECIAL CHARS F1-F12
         * =====================
         */
        layer_5 {
            label = "SPECIAL_F1F12";
            bindings = <
                &none      &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PERC    &kp WBAK &kp WFWD &kp WREF &none    &none     &kp SLEP
                &kp DEL    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5      &kp MINUS &kp WH_D &kp WH_U &kp RBKT &kp BSLH  &tog 5
                &kp F6     &kp F7   &kp F8   &kp F9   &kp F10  &kp F12     &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PSLS  &tog 4
                /* thumb keys */
                &none &mo 6 &kp SPACE &kp ENTER &trans &kp RALT
            >;
        };

        /* 
         * =====================
         * LAYER 6: SERVICE
         * =====================
         */
        layer_6 {
            label = "SERVICE";
            bindings = <
                &none &none  &none  &none   &none   &kp WSCH   &kp WBAK &kp WFWD &kp WREF &macro_pass &macro_gapass &kp POWER
                &none &none  &none  &kp VOL_UP &kp BR_UP &none  &none   &kp STOP &kp MPLY &none      &tog 1         &macro_lang_ru
                &none &none  &none  &kp VOL_DN &kp BR_DOWN &none &none  &none   &none    &none      &none          &tog 3
                /* thumb keys */
                &kp LGUI &trans &kp SPACE &kp ENTER &trans &kp RALT
            >;
        };
    };
};
